#intro {
    height: auto;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    bottom: 0;
    margin: 10% auto;
    right: 0;
    z-index: -1;
    width: 25vw;
    border-radius: 1rem;
}


.introContent {
    height: 90vh;
    width: 50vw;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #85586F;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem auto;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    margin-left: 0;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 1200px) {
    .bg {
        position: relative;
        width: 100%;
        padding: 0 1rem  0 1rem;
    }

    .introContent {
        text-align: center;
        padding: 0 auto;
        height: 50;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}